<div class="page-header">
  <h3>
    <%= image_tag("http://graph.facebook.com/1581004217/picture", :alt => "profile_image") %>
    Reznov9185
  </h3>
</div>
<div class="container">
  <blockquote>
    <h4>A mere homo sapiens with a paradoxical soul driven by quantum events.</h4>
    <footer>Sajidur Rahman(reznov9185)</footer>
  </blockquote>
</div>
<%- model_class = Blog -%>
<table class="table table-striped">
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><h5><%= blog.title %></h5></td>
        <td><h5><%= truncate(blog.text, :length => 150) %></h5></td>
      </tr>
    <% end %>
  </tbody>
</table>
